<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Nationality</title>
</head>
<body>
	<h1 layout:fragment="header">Nationality</h1>
	<div layout:fragment="content" class="container">
		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">Some Success message</div>


		<div class="actions"></div>
		<div class="table-scrollable">
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<td>Name</td>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${nationality.getTotalElements() == 0}">
						<td colspan="3">No Nationality</td>
					</tr>
					<tr th:each="nation : ${nationality}">
						<td><th:block th:if="${nation.name !=null }"
								th:text="${nation.name}"></th:block></td>
						<td><a href="view.html"
							th:href="@{'/nationality/view/' + ${nation.id}}" th:text="View"
							class="btn blue"> The summary </a> <a href="edit.html"
							th:href="@{'/nationality/edit/' + ${nation.id}}" th:text="Edit"
							class="btn yellow"> The summary </a></td>
					</tr>

				</tbody>
			</table>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<div class='pagination pagination-centered'>
					<ul class="pagination">

						<li th:class="${currentIndex == 1}? 'prev disabled' : 'prev'">
							<a th:href="@{${'/nationality/page/1'}}" title="First"> <i
								class="fa fa-angle-double-left"></i> First
						</a>
						</li>

						<li th:class="${currentIndex != 1}? 'prev' : 'prev disabled'">
							<a th:href="@{${'/nationality/page/'+ (currentIndex - 1)}}"
							title="Go to previous page"> <i class="fa fa-angle-left"></i>
								Previous
						</a>
						</li>

						<li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
							th:class="${item == currentIndex ? 'active' : '' }"><span
							th:if='${item == currentIndex}' th:text='${item}'>1</span> <a
							th:if='${item != currentIndex}'
							th:href="@{${'/nationality/page/'+item }}"> <span
								th:text='${item}'>1</span>
						</a></li>

						<li
							th:class="${currentIndex != nationality.totalPages}? 'next' : 'next disabled'">
							<a th:href="@{${'/nationality/page/'+(currentIndex + 1)}}"
							title="Go to next page"> Next <i class="fa fa-angle-right"></i>
						</a>
						</li>

						<li
							th:class="${currentIndex == nationality.totalPages}? 'next disabled' : 'next'">
							<a th:href="@{${'/nationality/page/'+ nationality.totalPages}}"
							title="Last"> Last <i class="fa fa-angle-double-right"></i>
						</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>