<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>View Nationality</title>
</head>
<body>
	<h1 layout:fragment="header">View User</h1>
	<div layout:fragment="content" class="container">
		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">Some Success message</div>
		<div class="actions pull-right">
			<a class="btn btn-circle btn-default" href="form.html"
				th:href="@{/nationality/}"> <span class="hidden-480">User
					List</span>
			</a>
		</div>
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-cogs font-green-sharp"></i> <span
						class="caption-subject font-green-sharp bold uppercase">Nationality
						Information</span>
				</div>

			</div>
			<div class="portlet-body">
				<div class="table-scrollable">
					<table class="table table-bordered table-hover">
						<tr>
							<th>Nationality</th>
							<td th:text="${nationality.name}"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>