<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Users</title>
</head>
<body>
	<h1 layout:fragment="header">Users</h1>
	<div layout:fragment="content" class="container">

		<div class="actions">
			<a class="btn btn-circle btn-default" href="form.html"
				th:href="@{/user/(form)}"> <i class="fa fa-plus"></i> <span
				class="hidden-480"> New User</span>
			</a>
		</div>
		<div class="table-scrollable">
			<table class="table table-striped">
				<thead>
					<tr>
						<td>User Name</td>
						<td>Status</td>
						<td>Action</td>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${users.getTotalElements() == 0}">
						<td colspan="3">No Users</td>
					</tr>
					<tr th:each="user : ${users}">
						<td >
                            <th:block th:if="${user.username !=null }" th:text="${user.username}"></th:block>
						</td>
                        <td th:text="${user.getStatus()}">false</td>

						<td><a href="view.html"
							th:href="@{'/user/view/' + ${user.id}}" th:text="View"
							class="btn blue"> The summary </a> <a href="edit.html"
							th:href="@{'/user/edit/' + ${user.id}}" th:text="Edit"
							class="btn yellow"> The summary </a></td>

					</tr>
				</tbody>
			</table>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<div class='pagination pagination-centered'>
					<ul class="pagination">

						<li th:class="${currentIndex == 1}? 'prev disabled' : 'prev'">
							<a th:href="@{${'/user/page/1'}}" title="First">
								<i class="fa fa-angle-double-left"></i> First
							</a>
						</li>

						<li th:class="${currentIndex != 1}? 'prev' : 'prev disabled'">
							<a th:href="@{${'/user/page/'+ (currentIndex - 1)}}" title="Go to previous page">
								<i class="fa fa-angle-left"></i> Previous
							</a>
						</li>

						<li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
							th:class="${item == currentIndex ? 'active' : '' }"><span
							th:if='${item == currentIndex}' th:text='${item}'>1</span> <a
							th:if='${item != currentIndex}'
							th:href="@{${'/user/page/'+item }}"> <span th:text='${item}'>1</span>
						</a></li>

						<li th:class="${currentIndex != users.totalPages}? 'next' : 'next disabled'">
							<a th:href="@{${'/user/page/'+(currentIndex + 1)}}" title="Go to next page">
								Next <i class="fa fa-angle-right"></i>
							</a>
						</li>

						<li th:class="${currentIndex == users.totalPages}? 'next disabled' : 'next'">
							<a th:href="@{${'/user/page/'+ users.totalPages}}" title="Last">
								Last <i class="fa fa-angle-double-right"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</body>
</html>