<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Employee</title>
</head>
<body>
	<h1 layout:fragment="header">Department</h1>
	<div layout:fragment="content" class="container">
		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">Some Success message</div>


		<div class="actions"></div>
		<div class="table-scrollable">
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<td>Employee Id</td>
						<td>Name</td>
						<td>Mobile Phone</td>
						<td>Address</td>
						<td>Gender</td>
						<td>Job Title</td>
						<td>Pay Grade</td>
						<td>Nationality</td>
						<td>Supervisor</td>
						<td>Action</td>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${employees.getTotalElements() == 0}">
						<td colspan="3">No Employee</td>
					</tr>
					<tr th:each="employee : ${employees}">
						<td><th:block th:if="${employee.employee_id !=null }"
								th:text="${employee.employee_id}"></th:block></td>
						<td><th:block th:if="${employee.first_name !=null }"
								th:text="${employee.first_name +' '+ employee.last_name}"></th:block></td>
						<td><th:block th:if="${employee.mobile_phone !=null }"
									  th:text="${employee.mobile_phone}"></th:block></td>
						<td><th:block th:if="${employee.address1 !=null }"
									  th:text="${employee.address1}"></th:block></td>

						<td><th:block th:if="${employee.gender !=null }"
								th:text="${employee.gender}"></th:block></td>
						<td><th:block th:if="${employee.job_title !=null }"
									  th:text="${employee.job_title}"></th:block></td>
						<td><th:block th:if="${employee.pay_grade !=null }"
									  th:text="${employee.pay_grade}"></th:block></td>
						<td><th:block th:if="${employee.nationality !=null }"
									  th:text="${employee.nationality}"></th:block></td>
						<td><th:block th:if="${employee.supervisor !=null }"
								th:text="${employee.supervisor}"></th:block></td>
						<td><a th:href="@{'/employee/change-paygrade/' + ${employee.id}}"
							  class="btn blue"> Change grade </a> 
							   <a href="view.html"
							th:href="@{'/employee/view/' + ${employee.id}}" th:text="View"
							class="btn blue"> The summary </a> <a href="edit.html"
							th:href="@{'/employee/edit/' + ${employee.id}}" th:text="Edit"
							class="btn yellow"> The summary </a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<div class='pagination pagination-centered'>
					<ul class="pagination">

						<li th:class="${currentIndex == 1}? 'prev disabled' : 'prev'">
							<a th:href="@{${'/employee/page/1'}}" title="First">
								<i class="fa fa-angle-double-left"></i> First
							</a>
						</li>

						<li th:class="${currentIndex != 1}? 'prev' : 'prev disabled'">
							<a th:href="@{${'/employee/page/'+ (currentIndex - 1)}}" title="Go to previous page">
								<i class="fa fa-angle-left"></i> Previous
							</a>
						</li>

						<li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
							th:class="${item == currentIndex ? 'active' : '' }"><span
							th:if='${item == currentIndex}' th:text='${item}'>1</span> <a
							th:if='${item != currentIndex}'
							th:href="@{${'/employee/page/'+item }}"> <span th:text='${item}'>1</span>
						</a></li>

						<li th:class="${currentIndex != employees.totalPages}? 'next' : 'next disabled'">
							<a th:href="@{${'/employee/page/'+(currentIndex + 1)}}" title="Go to next page">
								Next <i class="fa fa-angle-right"></i>
							</a>
						</li>

						<li th:class="${currentIndex == employees.totalPages}? 'next disabled' : 'next'">
							<a th:href="@{${'/employee/page/'+ employees.totalPages}}" title="Last">
								Last <i class="fa fa-angle-double-right"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
