<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>View Employee</title>
</head>
<body>
	<h1 layout:fragment="header">View Employee</h1>
	<div layout:fragment="content" class="container">
		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">Some Success message</div>
		<div class="actions pull-right">
			<a class="btn btn-circle btn-default" href="form.html"
				th:href="@{/employee/}"> <span class="hidden-480">Employee
					List</span>
			</a>
		</div>
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-cogs font-green-sharp"></i> <span
						class="caption-subject font-green-sharp bold uppercase">Employee
						Information</span>
				</div>

			</div>
			<div class="portlet-body">
				<div class="table-scrollable">
					<table class="table table-bordered table-hover">
						<tr>
							<th>Name</th>
							<td th:text="${employee.first_name +' '+ employee.last_name}"></td>
						</tr>
						<tr>
							<th>Mobile Phone</th>
							<td th:text="${employee.mobile_phone}"></td>
						</tr>
						<tr>
							<th>Address</th>
							<td th:text="${employee.address1}"></td>
						</tr>
						<tr>
							<th>Gender</th>
							<td th:text="${employee.gender}"></td>
						</tr>
						
						<tr>
							<th>Job Title</th>
							<td th:text="${employee.job_title}"></td>
						</tr>
						
						<tr>
							<th>Pay Grade</th>
							<td th:text="${employee.pay_grade}"></td>
						</tr>
						
						<tr>
							<th>Nationality</th>
							<td th:text="${employee.nationality}"></td>
						</tr>
						
						<tr>
							<th>Supervisor</th>
							<td th:text="${employee.supervisor}"></td>
						</tr>

					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>