<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>Layout</title>

<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link th:href="@{/global/plugins/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/global/plugins/bootstrap/css/custom.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/global/plugins/bootstrap/css/layout.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/global/plugins/select2/select2.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{/global/plugins/select2/select2-bootstrap.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/global/plugins/css/plugins.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{/global/plugins/bootstrap-toastr/toastr.min.css}"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/global/plugins/bootstrap-datepicker/css/datepicker3.css}"
	rel="stylesheet" type="text/css" />

<!-- END THEME STYLES -->

</head>
<body>
	<!-- BEGIN HEADER -->
	<div class="page-header">
		<!-- BEGIN HEADER TOP -->
        <div class="hor-menu hor-menu-light pull-right" sec:authorize="isAuthenticated()">
            <ul class="nav navbar-nav">

                <li class="classic-menu-dropdown">

                    <a data-toggle="dropdown" href="javascript:;">
                        <i class="icon-user"></i> <span sec:authentication="principal.username">
                                    username </span> <i class="fa fa-angle-down"></i>
                    </a>

                    <ul class="dropdown-menu">
                        <li>
                            <a th:href="@{/profile/change-password}" class="iconify">
                                <i class="fa fa-key"></i> Change password
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/logout}" class="iconify">
                                <i class="icon-logout"></i> Logout
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
		<!-- END HEADER TOP -->
		<!-- BEGIN HEADER MENU -->
		<div class="page-header-menu">
			<div class="container">

				<!-- BEGIN HEADER SEARCH BOX -->
				<!--<form class="search-form" action="extra_search.html" method="GET">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search"
							name="query" />
						<span class="input-group-btn"> <a href="javascript:;"
							class="btn submit"><i class="icon-magnifier"></i></a>
						</span>
					</div>
				</form>-->
				<!-- END HEADER SEARCH BOX -->


				<!-- BEGIN MEGA MENU -->
				<!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
				<!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
				<div class="hor-menu ">
					<ul class="nav navbar-nav">
						<li class="menu-dropdown mega-menu-dropdown active" sec:authorize="isAuthenticated()"><a
							data-hover="megamenu-dropdown" data-close-others="true"
							data-toggle="dropdown" href="javascript:;"
							class="dropdown-toggle"> Menu <i class="fa fa-angle-down"></i>
						</a>
							<ul class="dropdown-menu" style="min-width: 710px">
								<li>
									<div class="mega-menu-content">
										<div class="row">
											<div class="col-md-4">
												<ul class="mega-menu-submenu">
													<li><a href="/user/" class="iconify"> <i
															class="icon-home"></i> User List
													</a></li>
													<li><a href="/user/?form" class="iconify"> <i
															class="icon-basket"></i> Add CusUseromer
													</a></li>

												</ul>
											</div>

										</div>
									</div>
								</li>
							</ul></li>
					</ul>
				</div>
				<!-- END MEGA MENU -->
			</div>

		</div>
		<!-- END HEADER MENU -->
	</div>
	<!-- END HEADER -->






	<div class="page-container">
		<!-- BEGIN PAGE HEAD -->
		<div class="page-head">
			<div class="container">
				<!-- BEGIN PAGE TITLE -->
				<div class="page-title">
					<h1 layout:fragment="header">Layout</h1>
				</div>
				<!-- END PAGE TITLE -->
				<!-- BEGIN PAGE TOOLBAR -->
			</div>
		</div>
		<!-- END PAGE HEAD -->
		<!-- BEGIN PAGE CONTENT -->
		<div class="page-content">
			<div class="container">
				<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
				<!--<div class="modal fade" id="portlet-config" tabindex="-1"
					role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true"></button>
								<h4 class="modal-title">Modal title</h4>
							</div>
							<div class="modal-body">Widget settings form goes here</div>
							<div class="modal-footer">
								<button type="button" class="btn blue">Save changes</button>
								<button type="button" class="btn default" data-dismiss="modal">Close</button>
							</div>
						</div>
						&lt;!&ndash; /.modal-content &ndash;&gt;
					</div>
					&lt;!&ndash; /.modal-dialog &ndash;&gt;
				</div>-->
				<!-- /.modal -->
				<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
				<!-- BEGIN PAGE CONTENT INNER -->
				<div class="row">
					<div class="col-md-12" layout:fragment="content">Page content
						goes here</div>
				</div>
				<!-- END PAGE CONTENT INNER -->
			</div>
		</div>
		<!-- END PAGE CONTENT -->
	</div>

	<!-- END PRE-FOOTER -->
	<!-- BEGIN FOOTER -->
	<div class="page-footer">
		<div class="container">2014 &copy;  All Rights
			Reserved.</div>
	</div>
	<div class="scroll-to-top">
		<i class="icon-arrow-up"></i>
	</div>
	<!-- END FOOTER -->
	<script th:src="@{/global/plugins/bootstrap/js/jquery-2.min.js}"
		type="text/javascript"></script>
	<script th:src="@{/global/plugins/bootstrap/js/bootstrap.min.js}"
		type="text/javascript"></script>
	<script th:src="@{/global/plugins/select2/select2.js}"
		type="text/javascript"></script>
	<script th:src="@{/global/plugins/select2/select2.min.js}"
		type="text/javascript"></script>
	<script th:src="@{/global/plugins/bootstrap-toastr/toastr.min.js}"
		type="text/javascript"></script>
	<script th:src="@{/js/jquery.validate.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/jquery.blockUI.js}" type="text/javascript"></script>
	<script
		th:src="@{/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}"
		type="text/javascript"></script>
	<script th:src="@{/js/common.js}" type="text/javascript"></script>
	<script type="text/javascript">
        $(document).ready(function() {
            $(".select2me").select2();
        });
	</script>
	<th:block layout:fragment="script" />
</body>
</html>
